<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">   
    <meta name="description" content="Ausca is a Ruby gem that contains a collection of bots and automation utilities that you can use to fast-track the development of your online empire.">

    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Ausca: Ruby Bots and Automation Utilities</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <center>
            <!--<h1>Ausca</h1>-->    
            <img src="images/logo.png" title="Ausca" style="margin: 20px 0 15px" />
            <h2>Ruby Bots and Automation Utilities</h2>
          </center>
        </header>

        <section id="downloads" class="clearfix">
          <a href="https://github.com/sourcey/ausca/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="https://github.com/sourcey/ausca/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          <a href="https://github.com/sourcey/ausca" id="view-on-github" class="button"><span>View on GitHub</span></a>
        </section>

        <hr>

        <section id="main_content">
          {{content}}
        </section>

        <footer>
          Ausca is maintained by <a href="http://sourcey.com">Sourcey</a><br>
          Tactile theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.
        </footer>        
      </div>
    </div>
  </body>
</html>